<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts?.length"><em>Loading...</em></p>

<table tuiTable [columns]="columns" aria-labelledby="tableLabel" class="table"  *ngIf="forecasts.length">
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'date'" tuiTh>Date</th>
      <th *tuiHead="'temperatureC'" tuiTh>Temp. (C)</th>
      <th *tuiHead="'temperatureF'" tuiTh>Temp. (F)</th>
      <th *tuiHead="'summary'" tuiTh>Summary</th>
    </tr>
  </thead>
  <tbody *tuiLet="forecasts | tuiTableSort as sortedForecasts" tuiTbody [data]="forecasts">
    <tr tuiTr  *ngFor="let forecast of sortedForecasts;let index = index">
      <td *tuiCell="'date'"
          tuiTd>{{ forecast.date | date }}</td>
      <td *tuiCell="'temperatureC'"
          tuiTd>{{ forecast.temperatureC }}</td>
      <td *tuiCell="'temperatureF'"
          tuiTd>{{ forecast.temperatureF }}</td>
      <td *tuiCell="'summary'"
          tuiTd>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
