<header>
    <tui-tabs>
      <button tuiTab [routerLink]="['/']" [routerLinkActive]="['link-active']">
        <tui-svg
                src="tuiIconCreditCard"
                class="tui-space_right-2"
        ></tui-svg>
        WebUI
      </button>
      <button tuiTab [routerLink]="['/counter']" [routerLinkActive]="['link-active']">
        <tui-svg
                src="tuiIconPhone"
                class="tui-space_right-2"
        ></tui-svg>
        Counter
      </button>
      <button tuiTab [routerLink]="['/fetch-data']" [routerLinkActive]="['link-active']">
        <tui-svg
                src="tuiIconSettings"
                class="tui-space_right-2">
        </tui-svg>
        Fetch data
      </button>
      <button tuiTab [routerLink]="['/todo']" [routerLinkActive]="['link-active']">
        <tui-svg
                src="tuiIconSettings"
                class="tui-space_right-2">
        </tui-svg>
        Todo
      </button>
      <a tuiTab href="/api" target="_blank">
        <tui-svg
                src="tuiIconSettings"
                class="tui-space_right-2">
        </tui-svg>
        API
      </a>
      <a tuiTab href="/Identity/Account/Manage">
        <tui-svg
                src="tuiIconSettings"
                class="tui-space_right-2">
        </tui-svg>
        Account
      </a>
    </tui-tabs>
</header>
